/* Override rule in acadmeic.css */
.navbar-brand img {
  float: left;
  margin-right: 30px;
  max-height: 60px;
}

.navbar-brand, .navbar-nav li a {
  line-height: 60px;
}

.navbar-brand, .navbar-nav li a {
  font-size: 18px;
}

.article-style img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home-section {
  padding: 40px 0;
}