{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

  <h1 class="center-text">{{ i18n "page_not_found" }}</h1>

  <img src="img/padme.gif" alt="Padme saying you're going down a path I can't follow" class="center" />

  <br/>
  <p>{{ i18n "404_recommendations" }}</p>

  {{ $posts_len := len (where .Site.RegularPages "Section" "post") }}
  {{ if gt $posts_len 0 }}
  <h2>{{ i18n "posts" }}</h2>
  {{ range last 5 (where .Site.RegularPages "Section" "post") }}
  <ul>
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  </ul>
  {{ end }}
  {{ end }}

  {{ $pubs_len := len (where .Site.RegularPages "Section" "publication") }}
  {{ if gt $pubs_len 0 }}
  <h2>{{ i18n "publications" }}</h2>
  {{ range last 5 (where .Site.RegularPages "Section" "publication") }}
  <ul>
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  </ul>
  {{ end }}
  {{ end }}

  {{ $talks_len := len (where .Site.RegularPages "Section" "talk") }}
  {{ if gt $talks_len 0 }}
  <h2>{{ i18n "talks" }}</h2>
  {{ range last 5 (where .Site.RegularPages "Section" "talk") }}
  <ul>
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  </ul>
  {{ end }}
  {{ end }}

  {{ $projects_len := len (where .Site.RegularPages "Section" "project") }}
  {{ if gt $projects_len 0 }}
  <h2>{{ i18n "projects" }}</h2>
  {{ range last 5 (where .Site.RegularPages "Section" "project") }}
  <ul>
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  </ul>
  {{ end }}
  {{ end }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
